.final-avatar-section{
    display: flex;
    gap: 2rem;
    align-items: start;
    flex-direction: column;
}
.user-input-section{
    display: flex;
}

.user-input {
    display: flex;
    flex-direction: column;
}

.download-button{
    border: 1px solid white;
    padding: 0.5rem;
    
}

.download-button:hover{
    cursor: pointer;
}
